<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authorization</title>
</head>
<body>
<h3>Auth form</h3>
<form th:action="@{/user/auth}" th:object="${ModelAttribute}" method="post">
    <p><input type="text" th:field="*{login}" placeholder="login"/></p>
    <p th:if="${#fields.hasErrors('login')}" th:errors="*{login}" style="color: red">At least 4 characters!</p>
    <p><input type="password" th:field="*{password}" placeholder="password"/></p>
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red">At least 4 characters!</p>
    <p><button type="submit">Auth</button></p>
</form>
</body>
</html>